.animated-imageSignup-container {
    animation: slideRightSignupLogo 0.5s ease-in-out forwards;
  }
  
  @keyframes slideRightSignupLogo {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
.animated-signup-container {
    animation: slideLeft 0.5s ease-in-out forwards;
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  
  /* Login Page */
.animated-imageLogin-container {
    animation: slideRightLoginLogo 0.5s ease-in-out forwards ;
  }

  @keyframes slideRightLoginLogo {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
  }

.animated-login-container {
    animation: slideLoginLeft 0.5s ease-in-out forwards;
  }
  
  @keyframes slideLoginLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* HomeBlogCard */
.home-blog-card {
    transition: transform 0.3s ease;
  }
  
.home-blog-card:hover {
    transform: scale(1.05);
  }
  

/*Dark Mode Scroll bar */

  ::-webkit-scrollbar {
  width: 10px;
  }

  ::-webkit-scrollbar-track {
    /* background-color: #0F172A; */
    background-color: rgba(255, 255, 255, 0)
  }

  ::-webkit-scrollbar-thumb {
    background-color: #26272d;
    border-radius: 10px;
  }
